
 .register_form{
   text-align: center;
   padding: 2rem;
 }
 .register_form--wrap{
  text-align: center;
 
 }

 .ant-form-item-explain-error{
  text-align: center;
  margin-left: 30rem;
 }
 .ant-form-item-control-input-content button{
   margin: 2rem;
  
 }