html {
  font-size: 10px;
}
.containner {
  display: block;
  width: auto;
  height: auto;
  /* background: url('../image/Background.png'); */
  position: relative;
  z-index: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  background-color: #c87e6b;
}
.nav ul {
  list-style: none;
}
.nav a {
  text-decoration: none;
}
.logo {
  width: 15rem;
  height: 4.3rem;
  padding: 3rem 0 3rem 5.5rem;
}
menu {
  margin-left: 50px;
}
.menu ul {
  display: flex;
  padding: 4.2rem 0;
}
img {
  max-width: 100%;
}
.menu ul li a {
  padding: 1rem 4.8rem 1rem 3.8rem;
  font-size: 1.1rem;

  font-family: "Montserrat", sans-serif;
  color: white;
}
.menu ul li button {
  margin-left: 5.6rem;
  padding: 0;
}
.menu ul li a.buttonthoat:hover {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  background-color: #c87e6b;
  color: white;
  border: 1px solid white;
  border-radius: 50px;

  /* width: 8.2rem;
    height: 3.3rem; */
}
.iconmenu {
  padding: 3.6rem 5.8rem 3.6rem 0;
}
.iconmenu a {
    padding-left: 3rem;
}
.navlink{
    font-size: 1.6rem;
    color: white;
    padding-bottom: 1rem;
}