.sale{
    margin-top: 19.8rem;
    height: auto;
    width: 100%;
    display: flex;
    grid-template-columns: 1fr 1fr;
}
.saleconten{
   flex: 1;
    text-align: center;
    background-color: #dcc57c;
}
.salehinhanh{
    flex: 1;
    width: 100%;
}
.salehoa{
    display: grid;
   position: relative;
}
.buttonsale{
    font-family: 'Playfair Display', serif;
    font-size: 2.7rem;
    margin-top: 7rem;
    background-color: #424242;
    color: white;
    border-radius: 50px;
    border: 2px solid #454545;
    width: 27.3rem;
    height: 4.5rem;
}
.salehoa h1{
    margin: 0 0;
    line-height: 16rem;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16.4rem;
    color: #424242;
}
.saleconten p {
    margin: 0 0 0 0;
    font-size: 2.9rem;
    font-family: 'Montserrat Alternates', sans-serif;
    color: #424242;
    margin-bottom: 2rem;
}
