/* @import url("//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"); */
.tieude {
  margin-bottom: 12.7rem;
  margin-top: 12.7rem;
  position: relative;
}
.ndtieude {
  text-align: center;
}
/* .tieude img{
    margin-left: 56px;
    margin-right: 56px;
    margin-top: 119px;
} */
.imgdt1 {
  position: absolute;
  float: left;
  left: 5.1rem;
}
.imgtd2 {
  position: absolute;
  right: 5.1rem;
  top: 0;
}
.tieude h2 {
  font-family: "Playfair Display", serif;
  font-size: 58px;
  margin-bottom: 0;
  margin-top: 0;
  color: #484a4b;
}
.tieude a {
  margin-top: 15px;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 25px;
  color: #765a33;
}
/* product */
.cot {
  width: auto !important;
    display: flex!important;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
     align-items: center; 
    margin-left: 20px;
    margin-right: 20px;
    grid-gap: 20px;
    grid-template-rows:1; 
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  margin-left: 54px;
  margin-right: 54px;
  grid-gap: 50px; */
}
.cot img {
  width: 100%;
  height: 292px;
}
.griditem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: auto;
  margin: auto;
  border: 1px solid #ccc;
}
.icontim {
  position: relative;
  float: right;
  right: 25px;
}
a.icon img {
  width: 19px;
  height: 17px;
  image-rendering: pixelated;
  position: relative;
  float: right;
  right: 25px;
  top: 14px;
}
.text {
  margin-left: 42px;
  margin-right: 42px;
  margin-top: 31px;
}
.text h2 {
  font-family: "Playfair Display", serif;
  font-size: 29px;
  color: #484a4b;
  margin: 0 0;
}
.text p {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 13px;
  color: #765a33;
  margin: 0 0;
}
.text button {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 10px;
  background: #454545;
  border: 2px solid #454545;
  color: white;
  border-radius: 50px;
  width: 102px;
  height: 25px;
  margin-top: 17px;
  margin-bottom: 20px;
}
.text::after {
  color: #000;
  clear: both;
  display: table;
}
button:hover,
a:hover {
  opacity: 0.7;
}
.griditem:hover {
  /* .icon img{}  */
}
/* .chuyentrang {
  position: absolute;
  margin-top: 63px;
  display: block;
  justify-content: space-around;
} */
.imgtd2-1 {
  margin-top: 38px;
  position: absolute;
  left: 0;
}
/* .next {
  bottom: -50px;
}
.prev {
  bottom: -50px;
} */
.chuyentrang .next,
.chuyentrang .prev {
  position: absolute;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.chuyentrang .prev {
  left: 45%;
}
.chuyentrang .next {
  top: 100%;
  right: 45%;
}